

body {
  font-family: 'Open Sans', sans-serif;
}

body.home {
  background: #fafafa;
}

body.single {
  background: #fff;
}


/*

Set the outline property to 0px solid transparent;. 
You might have to set it on the :focus state as well
*/
[contenteditable]:focus {
    outline: 0px solid transparent;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #4a4a4a;
}

h3 a, .excerpt a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: bold;
}

.excerpt a {
  font-weight: normal;
}

p {
  font-family: 'Droid Serif', serif;
  line-height: 1.75em;
  letter-spacing: -.003em;
  color: #4c4b4b;
}

.article-card {
  background: white;
  padding: 3em;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin-bottom: 50px;
}


.medium-editor-toolbar li button {
  background: #2a2a2a;
  color: white;
}

.warning {
  background-image: linear-gradient(to bottom, rgba(222, 250, 211, 1), rgba(222, 250, 211, 1));
}

.article-container {
  width: 78%;
  float: left;
}

.article-content{
  font-size:18px;
  position: relative;
}

.inline-modal {
  background: white;
  position: absolute;
  padding: 10px;
  right:0px;
  top: 50px;
  box-shadow: 0 0 3px 1px #a2a2a2;
  display:none;
  min-width: 30%;
  z-index: 1000;
}

.inline-modal textarea {
  margin: 0 auto;
}

.comment-text-area {
  float: right;
  width: calc(100%);
  height: auto;
  background-color: red;
}

.textinput {
  float:left;
  width: 100%;
  min-height: 100px;
  outline: none;
  resize: none;
  border: 1px solid #f0f0f0;
}
.comment-save,.cancel-save {
  float: right;
  margin: 4px;
}

.all-comments {
  width: 20%;
  float: right;
}
    
.responses {
    z-index: 1001;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    border: 1px solid #f0f0f0;
    background: white;
    display: none;
}

.response {
  border : 1px solid #f0f0f0;
  padding: 10px;
}

.response h4 {
  padding: 0;
  margin: 0;
}

.response .response-time {
  color : gray;
  font-size: 9px;
}

.responses .response-title {
  padding: 5px;
  font-size: 18px;
  color : #02b875;
  opacity: 0.4;
  padding: 10px;
}

.response .response-text {
  font-size: 15px;
  color: #888;
}

.logo{
  max-width: 100%;
  height: auto;
  position: relative;
  left: 4%;
}

.home .topbar {
  background: white;
  padding: 1.9em;
  box-shadow: 1px 1px 3px #efebeb;
}

.current-user {
  float:right;
}

.circle {
  border-radius: 50%;
  width: 10%;
  box-shadow: 1px 2px 3px 0px grey;
  position: relative;
  right: 10%;
  top: 42px;
  width: 55px;
}
@media screen and (max-width: 448px) {
    .current-user{
      display:none;
    }
    .responses {
      width:50%;
    }
}
.username{
  font-size:15px;
}
.small-circle {
  border-radius:50%;
  width:40px;
}

.link-large {
  font-size: 16px;
}

.comment-form{
  margin-bottom: 1.5rem;
}
::-webkit-input-placeholder {
    font-size:18px;
}
:-moz-placeholder {
    color: 18px;
}
.medium-editor-toolbar li button {
    background: #4a4a4a;
    color: white;
}
