{% extends "layout.html" %}


{% block content %}

<!-- Primary Page Layout
  ================================================== -->
  
  <br class="clear" />
  
  <div class="row">
    <div class="twelve column">
      {% for article in articles %}
      
      <article>
        <h2><a href="articles/{{ article.id }}">{{ article.title }}</a></h2>
        <div class="article-content">
          {{ article.body}}
        </div>
        <br>
        <p><a href="articles/{{ article.id }}">Read More</a></p>
      </article>
      <hr>
      {% endfor %}
    </div><!-- end twelve cols -->
  </div>                                                                                                          
 
   
  
  </div> <!--End of Container -->
<!-- End Document


{% endblock %}