{% extends "layout.html" %}


{% block content %}

<!-- Primary Page Layout
  ================================================== -->
  
  <br class="clear" />
  
  <div class="row">
    <div class="twelve column">
      {% for article in articles %}
      
      <article class="article-card">
        <h3><a href="articles/{{ article.id }}">{{ article.title }}</a></h3>
        <div class="article-content">
          <p class="excerpt"><a href="articles/{{ article.id }}">{{ article.body}}</a></p>
        </div>
        <br>
        <p><a href="articles/{{ article.id }}">Read More</a></p>
      </article>
      {% endfor %}
    </div><!-- end twelve cols -->
  </div>                                                                                                          
 
   
  
  </div> <!--End of Container -->
<!-- End Document


{% endblock %}